{% extends "squirrel_tracker/header.html" %}
{% block content %}

<h3>
        Welcome to the page of squirrel {{ squirrel.unique_squirrel_ID }}. You may edit or delete this entry.   
</h3>
<li>
	If you want to go back to sightings page, click <a href='/sightings/'><strong>HERE</strong></a>
</li>
<body>

	<form action='' method = 'post'>
		<p>
		{% csrf_token %}
	        {{ form.as_p }}
	        <input type='submit' value='Submit'>
	        </p>

		<p>
	        <b> Delete this entry instead:  </b>
	        <a href = '{% url 'delete' squirrel_ID=form.instance.unique_squirrel_ID %}'><input type='button' value='Delete'>
		</p>

	</form>
</body>

{% endblock %}
