
{% extends "squirrel_tracker/header.html" %}

{% block content %}
<h3>
	To add an new squirrel sighting, click <a href='add/'><strong>HERE</strong></a>

</h3>
<li>
        If you want to see the map, click <a href='/map/'><strong>HERE</strong></a>
</li>   
<li>
        If you want to see the general stats of sightings, click <a href='stats/'><strong>HERE</strong></a>
</li>
<body>

<div class = 'row'>
	<ul>	
        {% for squirrel in squirrels %}
        <li> 
	    <a href = '{{squirrel.unique_squirrel_ID}}' id='{{squirrel.unique_squirrel_ID}}'/>{{squirrel.unique_squirrel_ID}}</a>
	   
	   
        {% endfor %}
	</ul>
</div>


</body>
{% endblock %}
